.Title {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    opacity: 1;

  }

.background {
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg);
    background-size: cover;
    height: 120px;
    background-position: center;   
}


.brush, .frame, .paint {
    background-size: cover;
    height: 40px;
}

.brush {
    background-color: mediumSpringGreen;
}

.frame {
    background-color: lightCoral;
}

.paint {
    background-color: skyBlue;
}

.header {
    color: white;
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
}

.deal {
    color: blue;
    font-weight: bold;
}